/*colors*/
$primary-color: #fff7f4;
$orange: #FF5300;
$darkgrey: #373737;
$darkgrey-bg: #18191A;
$lightgrey: #7B7B7B;
$white: #FFFFFF;

/*custom-margin/padding*/
$mp-3: 3.75em;
$mp-6: 6em;
$mp-7:7em;
$mp-8: 8em;

/*font-weight*/ 
$fw-500: 500;

/*font-size*/
$fs-xxl: 48px;
$fs-xl: 39.06px;
$fs-l: 31.25px;
$fs-m: 25px;
$fs-s: 20px;
$fs-ss: 18px;
$fs-xs: 16px;
$fs-xxs: 12.8px;
$fs-xxxs: 10.6px;

/*breakpoints*/
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 375px;

/*before-after*/

$underline: "cvx";
$timer: url(../img/timer.png);
$person: url(../img/person.png);
$message: url(../img/message-circle.png);